{% extends 'base.html' %}

{% block title %}
<title>Добавить товар</title>
{% endblock title %}

{% block body %}
<div class="container">
    <h1>Добавить товар</h1>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <textarea type="text" class="form-control" name="text" id="text" placeholder="Введите описание" cols="30" rows="10"></textarea><br>
        <button class="btn btn-success" type="submit">Добавить товар</button>
    </form>
</div>
{% endblock body %}